.search-style{
	vertical-align: center;
	text-align: center;
}
.div-style{
	height: 100%;
	width: 100%;
}
.row-syle{
	height: 100%;
}
.column{
	width: 100%;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom:1%;
	margin-left: .5%;
	margin-right: .5%;
	margin-top: .5%;
	margin-bottom: .5%;
}
.column1{
	background-color: SlateBlue;
}
.column2{
	background-color: DodgerBlue;
}
.column3{
	background-color:Tomato;
}
.column4{
	background-color: gray;
}
.column5{
	background-color: MediumSeaGreen;
}
.column6{
	background-color: green;
}