<div class="container search-style">
	<h2>World Covid19 status as of today</h2>
</div>
<div class="container div-style">
	<div class="row row-syle">
  		<div class="col column column1"><span>New Confimed: {{newConfirmed}}</span></div>
  		<div class="col column column2"><span>Total Confimed: {{totalConfirmed}}</span></div>
	</div>
	<div class="row row-syle">
		<div class="col column column3"><span>New Deaths: {{newDeaths}}</span></div>
  		<div class="col column column4"><span>Total Deaths: {{totalDeaths}}</span></div>
	</div>
	<div class="row row-syle">
		<div class="col column column5"><span>New recovered: {{newRecovered}}</span></div>
  		<div class="col column column6"><span>Total Recovered: {{totalRecovered}}</span></div>
  	</div>
</div>


